
<table class="table table-striped" style="background:white;">
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>LastName</th>
      <th>MobileNumber</th>
      <th>DateofBirth</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
<% @students.each do |student| %>
<tr>

<td><%= student.user.email %></td>
<td><%= student.first_name %></td>
<td><%= student.last_name %></td>
<td><%= student.mobile_number %></td>
<td><%= student.date_of_birth %></td>
<td><%= student.user.role %></td>
<td> <%= link_to "marks", student_student_marks_path(student) %>
</tr>
<% end %>
</table>

     