<%= form_for @markreport, :url => subjects_path, :method => "POST" do |f| %>

<div class="input-group input-group-lg">
 TeacherName:
 <%=  f.select :teacher_id, options_for_select([["Select",""]] +Teacher.all.map{ |teacher| [teacher.first_name,teacher.id]}) %>
</div>
<br />
<div class="input-group input-group-lg">
 StudentName:
 <%= f.select :student_id, options_for_select([["Select", ""]] + Student.all.map{|i| [i.first_name,i.id]}),{} %>
</div>
<br />

<div class="input-group input-group-lg">
 Maximum Marks:
 <%= f.number_field :max_marks %>
</div>
<br />

<div class="input-group input-group-lg">
 Total Marks:
 <%= f.number_field :total_marks %>
</div>
<br />

<div class="form-action">
  <%= f.submit :class => "btn btn-info" %> 
</div><br/>
<% end %>