

<%#= link_to "NewMarkReport",new_subject_path %>
<table class="table table-stripped">
<tr> 
<th> Subject Name </th>
<th> Assign Marks </th>

</tr>
<% @teacherclass.each do |ts | %>
<tr>
<td><%= ts.subject.subject_name %></td>
<td> <%#= link_to "assign marks", teacherclass_subject_path(ts) %>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#marks" data-id="<%= ts.id %>">
assign</button>


  <!-- Button trigger modal -->
  <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#ts-<%= ts.id %>-subjects">
    View subjects
  </button>

  <!-- Modal -->
  <div class="modal fade" id="ts-<%= ts.id %>-subjects" tabindex="-1" role="dialog" aria-labelledby="ts-<%= ts.id %>-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ts-<%= ts.id %>-label">Notes</h4>
        </div>
        <div class="modal-body">
         Subject Name: <%= ts.subject.subject_name %>
          <%= render :partial => "/subjects/new" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

       
</td>

<tr>
<% end %>

</table> 


<div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
   
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">fd Marks</h4>
      </div>
      <div id="marks_<%#= ts.id %>"class="modal-body" >
           <%= render :partial => "/subjects/new" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>







<div class="modal fade" id="marks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
   
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Subject Marks</h4>
      </div>
      <div id="marks_<%#= ts.id %>"class="modal-body" >
           <%= render :partial => "/subjects/teacher" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

