

<hr/>
<table class="table table-striped">
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>LastName</th>
      <th>MobileNumber</th>
           <th>Role</th>
      <th>Actions</th>
    </tr>
<% @teachers.each do |teacher| %>
<tr>

<td><%= teacher.user.email %></td>

<td><%= teacher.first_name %></td>
<td><%= teacher.last_name %></td>
<td><%= teacher.mobile_number %></td>
      <td><%= teacher.user.role %></td>
          <td><%= link_to "Assign Class",assign_class_teacher_path(teacher), :class => "btn btn-info" %> </td>
</tr>
<% end %>
</table>
