<!DOCTYPE html>
<html>
  <head>
    <title> Admin</title>
       <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
      
  </head>
  <body>

<header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "Dashboard", admin_dashboards_path %>    
 </div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">

       <% if current_user %>
            <ul class="nav navbar-nav">
             

              <li class="<%=  params[:controller] == "batches" && params[:action] == "new" || params[:action] == 'create' ? "active" : ""%>"><%= link_to "Create Batch", new_admin_batch_path, :class => "menubanneritem button" %></li>
              </ul>
<ul class="nav pull-right">
                <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>              </ul>
          <% end -%>
            
        </nav>
      </div>
    </div>
  </header>
    
      <div class="container">
        <div class="row-fluid">
          <%= yield %>
        </div>
      </div>
      
    
  </body>