<!DOCTYPE html>
<html>
<head>
  <title>Teacherstudentmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
    
      <a class="navbar-brand" href="/">Home</a>
    </div>

   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


   <ul class="nav navbar-nav navbar-right">
        
   <% if user_signed_in? %>
<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
<% else %>
<li><%= link_to "Signup", new_user_registration_path %></li>
<li><%= link_to "Signin", new_user_session_path %></li>
<% end %>
 
</ul>
  
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
